<a href="https://colab.research.google.com/github/Vaibhav074N/Assignment-Feb22/blob/main/Assignment_Feb22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1.

In [ ]:
import pandas as pd

In [ ]:
obj = pd.Series([4, 8, 15, 16, 23, 42])

In [ ]:
obj

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2.

In [ ]:
data = ['om','sai','prakesh','haari','dhrti',2,39,12,32,1]

In [ ]:
pd.Series(['om','sai','prakesh','haari','dhrti',2,39,12,32,1])

0         om
1        sai
2    prakesh
3      haari
4      dhrti
5          2
6         39
7         12
8         32
9          1
dtype: object

Q3.

In [ ]:
data = [{'Name':'Alice','Age':'25','Gender':'Female'},
        {'Name':'Bob','Age':'30','Gender':'Male'},
        {'Name':'Clarie','Age':'27','Gender':'Female'}]

In [ ]:
frame = pd.DataFrame(data)

In [ ]:
frame

     Name Age  Gender
0   Alice  25  Female
1     Bob  30    Male
2  Clarie  27  Female

Q4.What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans:

Pandas:
       it contains data structures and data manipulation tools designed to make
       data cleaning and data analysis, fast and easy in python.

Series - it is a 1-D array like object containing a sequence and values.

Dataframe - it represents a rectangular table of data and contains an ordered
                       collection of columns,each of which can be different value type(numeric,string,boolean,etc).

In [ ]:
# series
x = pd.Series([5,6,7])

In [ ]:
x

0    5
1    6
2    7
dtype: int64

In [ ]:
# dataframe
data = {"state":['nanded','ohio','ohio','ohio','nevada'],
        "year":[2004,2003,2002,2001,2000],
        "pop":[1.5,1.7,3.6,2.4,2.9]}

In [ ]:
f = pd.DataFrame([data])

In [ ]:
f

,state,year,pop
0,"[nanded, ohio, ohio, ohio, nevada]","[2004, 2003, 2002, 2001, 2000]","[1.5, 1.7, 3.6, 2.4, 2.9]"

Q5.What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

In [29]:
# head() = it returns first n rows from data
# tail() = it returns last n rows from data 

d = pd.read_csv('/content/services.csv')

In [30]:
d.head()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

In [31]:
d.tail()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

Q6.Which of the following is mutable in nature Series, DataFrame, Panel?

Ans:

In Pandas, both Series and DataFrame are mutable, and panel is immutable.
This means that you can modify the contents of a Series or DataFrame after it has been created. For example, you can add or remove rows or columns, update existing values, or perform calculations to create new columns based on existing data.

Q7.Create a DataFrame using multiple Series. Explain with an example.

In [32]:
a=pd.Series(['om','rucha','pryia','tom'])
b=pd.Series([8,6,7,5])
c=pd.Series([21,22,20,19])

In [35]:
d = {'Name':a,"Grade":b,"Age":c}

In [40]:
f = pd.DataFrame(d)

In [37]:
f

    Name  Grade  Age
0     om      8   21
1  rucha      6   22
2  pryia      7   20
3    tom      5   19